<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Emp_Management_01.Properties.Settings.Emp_Mgt_01_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Emp_Mgt_01_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>